* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #026BFB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Bar */

.search_bar {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #005DDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar.active {
    width: 360px;
}

.search_input {
    display: none;
}

.search_input input {
    height: 60px;
    width: 80%;
    border-radius: 60px;
    margin-right: 100px;
    padding-left: 60px;
    top: 0;
    outline: none;
    border: none;
    background-color: white;
    position: absolute;
    font-size: 16px;
}

.search_input.active {
    width: 100%;
    display: inline;
    border-radius: 60px;

}

.search_input button {
    position: absolute;
    right: 20px;
    border: none;
    background-color: white;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_input button img {
}

.icon_container {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon {
    height: 32px;
    width: 32px;
}

.search_icon.active {
    left: 0;
}

/* Channel List */
.channel_list {
    list-style: none;
    margin-top: 20px;
    transition: all 1s;
    height: 20px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    opacity: 0.0;
    display: grid;

}

.channel_list.show {
    opacity: 1.0;
    transition: all 1s;
}

.channel_list li {
    background-color: white;
    width: 240px;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 12px;
}

.channel_img {
    background: url("https://yt3.ggpht.com/ytc/AMLnZu-OoCj8oG4hssfpUAvZ5EPCjBu21krVcB6tkVFsQA=s240-c-k-c0xffffffff-no-rj-mo") no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
