* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #026BFB;
}

.search_bar {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #005DDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar.active {
    width: 360px;
}

.search_input {
    display: none;
}

.search_input input {
    height: 60px;
    width: 80%;
    border-radius: 60px;
    margin-right: 100px;
    padding-left: 60px;
    top: 0;
    outline: none;
    border: none;
    background-color: white;
    position: absolute;
    font-size: 16px;
}

.search_input.active {
    width: 100%;
    display: inline;
    border-radius: 60px;

}

.search_input button {
    position: absolute;
    right: 20px;
    border: none;
    background-color: white;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_input button img {
}

.icon_container {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon {
    height: 32px;
    width: 32px;
}

.search_icon.active {
    left: 0;
}